<nav class="navbar navbar-dark bg-dark dcr-page-navbar-top">
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-secondary">Func A</button>
    <button type="button" class="btn btn-secondary">Func B</button>
    <button type="button" class="btn btn-secondary">Func C</button>
    <button type="button" class="btn btn-secondary">Func D</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-secondary">Func X</button>
    <button type="button" class="btn btn-secondary">Func Y</button>
    <button type="button" class="btn btn-secondary">Func Z</button>
  </div>
</nav>

<nav class="navbar navbar-dark bg-secondary dcr-page-navbar-left">
  Navbar left
</nav>

<div class="dcr-page-content">
  <div class="bg-primary dcr-dicom-viewer">
    Dicom viewer area
  </div>
</div>
